$blueTweet: #4056a1;

nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: $blueTweet;
    color: #ffffff;
    position: fixed;
    z-index: 2;
    span {
      font-family: "Bungee";
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
    
  }
  .navMessage {
    text-align: center;
    i {
        vertical-align: bottom;
      }
  }